<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>222</title>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
<!--    生成一个子树 （带形式参数的） -->
        <div>
            <a>name:{{name}}</a><br>
            <a>parm:{{parm}}</a><br>
            <a>skill:{{skill}}</a><br>
            <a>post_condition:{{post_condition}}</a><br>
            <a>pre_condition:{{pre_condition_list}}</a><br>
            <a>subtree_list:{{subtree_list}}</a><br>
            <a>subtree_show_list:{{subtree_show_list}}</a><br>
            <el-steps :active="active" finish-status="success" align-center>
              <el-step title="步骤 1" description="选择后置条件"></el-step>
              <el-step title="步骤 2" description="选择动作方法以及填写相应参数"></el-step>
              <el-step title="步骤 3" description="选择前置条件以及填写相应参数"></el-step>
            </el-steps>
<!--        选择后置条件    -->
            <div v-if="active == 0">
                <a>请选择后置条件方法</a>
                <el-select v-model="name" placeholder="请选择">
                    <el-option
                      v-for="item in condition_list"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                </el-select>
                <el-button style="margin-top: 12px;" @click="post_condition_next">下一步</el-button>
            </div>
<!--        选择前置条件    -->
            <div v-if="active == 1">
                <a>请选择前置条件方法以及相应的参数</a>
                <el-select v-model="name" placeholder="请选择" @change="name_to_parm_condition">
                    <el-option
                      v-for="item in condition_list"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                </el-select>
                <el-form v-for="(index,item) in parm">
                    <a>{{item}}</a>
                    <el-input v-model="parm[item]" placeholder="请填写"></el-input>
                </el-form>
                <el-button style="margin-top: 12px;" @click="pre_condition_next">添加下一个前置条件</el-button>
                <el-button style="margin-top: 12px;" @click="subtree_commit">完成</el-button>
            </div>
<!--        选择动作    -->
            <div v-if="active == 2">
                <a>请选择动作方法以及相应的参数</a>
                <el-select v-model="name" placeholder="请选择" @change="name_to_parm_action">
                    <el-option
                      v-for="item in action_list"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                </el-select>
                <el-form v-for="(index,item) in parm">
                    <a>{{item}}</a>
                    <el-input v-model="parm[item]" placeholder="请填写"></el-input>
                </el-form>
                <el-button style="margin-top: 12px;" @click="action_next">下一步</el-button>
            </div>

        </div>
<!--    发送子树    -->
        <div>
            <el-button type="primary" @click="subtree_list_submit">发送子树</el-button>
        </div>
<!--    选择目标条件    -->
        <div>
            <a>请选择目标方法以及相应的参数</a>
                <el-select v-model="goal_name" placeholder="请选择" @change="name_to_parm_goal">
                    <el-option
                      v-for="item in condition_list"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                </el-select>
                <el-form v-for="(index,item) in goal_parm">
                    <a>{{item}}</a>
                    <el-input v-model="goal_parm[item]" placeholder="请填写目标条件的参数"></el-input>
                </el-form>
                <el-button style="margin-top: 12px;" @click="goal_next">添加下一个目标条件</el-button>
                <el-button style="margin-top: 12px;" @click="goal_submit">确定目标</el-button>
        </div>

        <div>
            <el-button type="primary" @click="start_submit(1)">开始</el-button>
            <el-button type="primary" @click="start_submit(0)">暂停</el-button>
        </div>
    </div>

    <script src="js/Test_2.js"></script>
</body>
</html>