*{
	margin: 0;
	padding: 0;
}
#app{
	width: 100%;
	height: 200%;
	position: absolute;
	background-color: #e2e2e2;
}
.class0{
	width: 100%;
	height: 100px;
	border: none;
	background-color: white;
	margin: 0 auto;
}
.class0 img{
	margin-top: 20px;
	margin-left: 300px;
	vertical-align: middle;
}
.class1{
	width: 700px;
	height: 700px;
	margin: 30px auto;
	border: #808080 solid 1px;
	border-radius: 5px;
	background-color: white;
	
}
.class2{
	width: 640px;
	height: 40px;
	margin-top: 60px;
	margin-left: 30px;
	border: #808080 solid 1px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
.class3{
	width: 500px;
	margin: 20px auto;
	border: none;
}
.class4{
	margin-top: 30px;
}
.class4 select{
	width: 500px;
	height: 40px;
	font-size: 17px;
	border: 1px solid #7D7D7D;
	margin-top: 10px;
}
.class5{
	margin-top: 30px;
}
.class5 input{
	width: 500px;
	height: 40px;
	font-size: 17px;
	border: 1px solid #7D7D7D;
}
.class6{
	margin-top: 70px;
	text-align: center;
}
.class6 button{
	width: 400px;
	height: 50px;
	background-color: #6A5ACD;
	font-size: 20px;
	color: white;
	outline: none;
}